<a href="https://colab.research.google.com/github/meaningfromdata/Machine-Learning-With-R-Book/blob/master/20200919_chap_1_tidyr_ML_with_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
# making an untidy tibble containing patient BMI measurements that we will tidy below in this notebook
patient_data <- tibble(Patient = c("A", "B", "C"),
                        Month0 = c(21, 17, 29),
                        Month3 = c(20, 21, 27),
                        Month6 = c(21, 22, 23))

In [3]:
patient_data

  Patient Month0 Month3 Month6
1 A       21     20     21
2 B       17     21     22
3 C       29     27     23

In [4]:
# gather all the Month columns into a single column and put their values in a new col called "BMI"
# note that "-Patient" means use all columns except Patient for the gather operation
patient_data_tidy <- gather(patient_data, key = Month, value = BMI, -Patient)

In [5]:
patient_data_tidy

  Patient Month  BMI
1 A       Month0 21
2 B       Month0 17
3 C       Month0 29
4 A       Month3 20
5 B       Month3 21
6 C       Month3 27
7 A       Month6 21
8 B       Month6 22
9 C       Month6 23

In [6]:
# alternative way to gather all the Month columns into a single column and put their values in a new col called "BMI"
patient_data_tidy <- gather(patient_data, key = Month, value = BMI, Month0:Month6)

In [7]:
patient_data_tidy

  Patient Month  BMI
1 A       Month0 21
2 B       Month0 17
3 C       Month0 29
4 A       Month3 20
5 B       Month3 21
6 C       Month3 27
7 A       Month6 21
8 B       Month6 22
9 C       Month6 23