<a href="https://colab.research.google.com/github/meaningfromdata/Machine-Learning-With-R-Book/blob/master/20200919_chap_1_tibbles_ML_with_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [7]:
# browse built-in datasets
data()

In [8]:
# load CO2 dataset
data(CO2)

In [9]:
# convert CO2 data.frame to tibble
CO2_tib <- as_tibble(CO2)

In [21]:
# get dimensions of tibble
dim(CO2_tib)

[1] 84  5

In [11]:
# inspect top rowos of tibble
head(CO2_tib)

  Plant Type   Treatment  conc uptake
1 Qn1   Quebec nonchilled  95  16.0
2 Qn1   Quebec nonchilled 175  30.4
3 Qn1   Quebec nonchilled 250  34.8
4 Qn1   Quebec nonchilled 350  37.2
5 Qn1   Quebec nonchilled 500  35.3
6 Qn1   Quebec nonchilled 675  39.2

In [13]:
# select only cols of interest
selected_data <- select(CO2_tib, c(1, 2, 3, 5))

In [14]:
head(selected_data)

  Plant Type   Treatment  uptake
1 Qn1   Quebec nonchilled 16.0
2 Qn1   Quebec nonchilled 30.4
3 Qn1   Quebec nonchilled 34.8
4 Qn1   Quebec nonchilled 37.2
5 Qn1   Quebec nonchilled 35.3
6 Qn1   Quebec nonchilled 39.2

In [15]:
# filter data based on col of interest (uptake)
filtered_data <- filter(selected_data, uptake > 16)

In [17]:
head(filtered_data)

  Plant Type   Treatment  uptake
1 Qn1   Quebec nonchilled 30.4
2 Qn1   Quebec nonchilled 34.8
3 Qn1   Quebec nonchilled 37.2
4 Qn1   Quebec nonchilled 35.3
5 Qn1   Quebec nonchilled 39.2
6 Qn1   Quebec nonchilled 39.7

In [22]:
# group data by col of interest (Plant)
grouped_data <- group_by(filtered_data, Plant)

In [19]:
head(grouped_Data)

  Plant Type   Treatment  uptake
1 Qn1   Quebec nonchilled 30.4
2 Qn1   Quebec nonchilled 34.8
3 Qn1   Quebec nonchilled 37.2
4 Qn1   Quebec nonchilled 35.3
5 Qn1   Quebec nonchilled 39.2
6 Qn1   Quebec nonchilled 39.7

In [23]:
dim(grouped_Data)

[1] 66  4

In [24]:
# summarize grouped_data tibble by getting the mean and sd of the uptake column for each group
summarized_data <- summarize(grouped_data, uptake_mean=mean(uptake), uptake_sd=sd(uptake))

`summarise()` ungrouping output (override with `.groups` argument)

In [25]:
summarized_data

   Plant uptake_mean uptake_sd
1  Qn1   36.10000     3.4234486
2  Qn2   38.75000     6.0724789
3  Qn3   37.61429    10.3499482
4  Qc1   32.60000     5.0318983
5  Qc3   35.50000     7.5158499
6  Qc2   36.60000     5.1447060
7  Mn3   26.25000     3.4852547
8  Mn2   29.90000     3.9181628
9  Mn1   29.03333     5.6972508
10 Mc3   18.41667     0.8256311
11 Mc1   20.12000     1.8335757

In [26]:
# add coefficient of variation column (CV) to summarized)_data that is derived from uptake_mean and uptake_sd cols
mutated_data <- mutate(summarized_data, CV = (uptake_sd/uptake_mean))

In [27]:
mutated_data

   Plant uptake_mean uptake_sd  CV
1  Qn1   36.10000     3.4234486 0.09483237
2  Qn2   38.75000     6.0724789 0.15670913
3  Qn3   37.61429    10.3499482 0.27516004
4  Qc1   32.60000     5.0318983 0.15435271
5  Qc3   35.50000     7.5158499 0.21171408
6  Qc2   36.60000     5.1447060 0.14056574
7  Mn3   26.25000     3.4852547 0.13277161
8  Mn2   29.90000     3.9181628 0.13104224
9  Mn1   29.03333     5.6972508 0.19623137
10 Mc3   18.41667     0.8256311 0.04483065
11 Mc1   20.12000     1.8335757 0.09113200

In [28]:
# sort rows ("arrange data") on CV ascending
arranged_data <- arrange(mutated_data, CV)

In [29]:
arranged_data

   Plant uptake_mean uptake_sd  CV
1  Mc3   18.41667     0.8256311 0.04483065
2  Mc1   20.12000     1.8335757 0.09113200
3  Qn1   36.10000     3.4234486 0.09483237
4  Mn2   29.90000     3.9181628 0.13104224
5  Mn3   26.25000     3.4852547 0.13277161
6  Qc2   36.60000     5.1447060 0.14056574
7  Qc1   32.60000     5.0318983 0.15435271
8  Qn2   38.75000     6.0724789 0.15670913
9  Mn1   29.03333     5.6972508 0.19623137
10 Qc3   35.50000     7.5158499 0.21171408
11 Qn3   37.61429    10.3499482 0.27516004

In [30]:
# using pipe to do all the above transformations on CO2_tib in single operation
arranged_data_one_step <- CO2_tib %>%
  select(c(1:3, 5)) %>%
  filter(uptake > 16) %>%
  group_by(Plant) %>%
  summarize(uptake_mean = mean(uptake), uptake_sd = sd(uptake)) %>%
  mutate(CV = (uptake_sd/uptake_mean)*100) %>%
  arrange(CV)

`summarise()` ungrouping output (override with `.groups` argument)

In [31]:
# verifying output is same as above
arranged_data_one_step

   Plant uptake_mean uptake_sd  CV
1  Mc3   18.41667     0.8256311  4.483065
2  Mc1   20.12000     1.8335757  9.113200
3  Qn1   36.10000     3.4234486  9.483237
4  Mn2   29.90000     3.9181628 13.104224
5  Mn3   26.25000     3.4852547 13.277161
6  Qc2   36.60000     5.1447060 14.056574
7  Qc1   32.60000     5.0318983 15.435271
8  Qn2   38.75000     6.0724789 15.670913
9  Mn1   29.03333     5.6972508 19.623137
10 Qc3   35.50000     7.5158499 21.171408
11 Qn3   37.61429    10.3499482 27.516004